
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Параметры</span>
        </md-card-title-text>
      </md-card-title>
      <md-content flex layout-padding>
        <form name="loanForm" ng-submit="submitForm(loanForm.$valid)" id="loan-calculate-form" novalidate>

          <md-content>
            <md-input-container class="md-block">
              <label>{{ loan.attributeLabel('amount') }}</label>
              <input type="number" name="amount" ng-required="true" ng-model="loan.amount">

              <span class="error" ng-show="loanForm.amount.$error.required">Заполните поле!</span>

            </md-input-container>

            <div layout="row">
              <md-input-container>
                <label>{{ loan.attributeLabel('rate') }}</label>
                <input  type="number" ng-max="30" ng-required="true" ng-model="loan.rate" type="number" step="0.01">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-md>
                <md-slider aria-label="rate" class="md-primary" ng-model="loan.rate" step="0.1" min="1" max="30">
                </md-slider>
              </md-input-container>
            </div>

            <div class="row">
              <span class="grey md-caption">{{ loan.attributeLabel('issuanceDate') }}</span>
              <md-datepicker ng-required="true" ng-model="loan.issuanceDate"></md-datepicker>
            </div>
            <br/>

            <md-input-container class="md-block">
              <label>{{ loan.attributeLabel('term') }}</label>
              <input ng-required="true" type="number" ng-max="1000" min="1" ng-model="loan.term">
            </md-input-container>

            <md-input-container class="md-block">
              <label>{{ loan.attributeLabel('payDay') }}</label>
              <input ng-required="true" type="number" ng-max="28" ng-min="1" ng-model="loan.payDay">
            </md-input-container>

            <md-button type="submit" ng-disabled="loanForm.$invalid" class="md-raised">Расчитать</md-button>

            <md-button ng-click="getPdfDocument(loanForm.$valid)" ng-show="loan.loanData.length" ng-disabled="loanForm.$invalid">Распечатать</md-button>

          </md-content>
        </form>

      </md-content>
    </md-card>

