
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>График выплат по кредиту</span>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table multiple ng-model="showed">
      <thead md-head>
      <tr md-row>
        <th md-column>№</th>
        <th md-column md-numeric>День</th>
        <th md-column md-numeric>Месяц</th>
        <th md-column md-numeric>Год</th>
        <th md-column md-numeric>Платеж</th>
        <th md-column md-numeric>Выплата долга</th>
        <th md-column md-numeric>Выплата процентов</th>
        <th md-column md-numeric>Задолжность</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="row in showed">
        <!-- @TODO fix it -->
        <td md-cell>{{ $index + 1 }}</td>
        <td md-cell>{{ row.date | loanDate:'DD' }}</td>
        <td md-cell>{{ row.date | loanDate:'MM' }}</td>
        <td md-cell>{{ row.date | loanDate:'YYYY' }}</td>
        <td md-cell>{{ row.monthlyPayments | number:2 }}</td>
        <td md-cell>{{ row.paymentsOfDebt | number:2 }}</td>
        <td md-cell>{{ row.paymentsOfInterest | number:2 }}</td>
        <td md-cell>{{ row.debtBalance | number:2 }}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit-options="limitOptions" md-limit="limit.limit" md-page="limit.page" md-total="{{loan.loanData.length}}" md-on-paginate="getLoanData" md-page-select="getLoanData">
  </md-table-pagination>


