form#loan-calculate-form .md-datepicker-input-container {
  width: 50%;
}

form#loan-calculate-form md-slider {
  padding-top: 5px;
}

form md-slider {
  width: 75%;
}

span.grey {
  color: rgb(138, 132, 132);
}

