<md-toolbar layout="row" layout-align="center center">

  <md-button href="https://github.com/Swiip/generator-gulp-angular">Кредитный калькулятор</md-button>

  <section flex layout="row" layout-align="left center">
    <!--<md-button href="#/home">Главная</md-button>-->
    <md-button href="#/calculator" class="md-raised">Калькулятор</md-button>
    <!--<md-button href="#">Инфо</md-button>-->
  </section>

</md-toolbar>
