<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </header>

  <div layout-align="left" layout="row">

  	<div class="loan-form-block" flex="30">
  		<base-loan-form obj="loan"></base-loan-form>
  	</div>
  	<div class="loan-calc-result-block" flex="70" layout-padding>
    	<base-loan-data-table ng-show="loan.loanData.length" loan="loan"></base-loan-data-table>
    </div>

  </div> 

</div>
